@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Robot', sans-serif;
    color: #f1f3f6;
}

/*using root you can create variable and use them in your app*/
:root{
    --primary-color:rgb(40,116,240);
}
.container{
    padding: 0, 8px;
}
/*header*/
header{
    background-color: var(--primary-color);
    height: 56px;
}
header .nav-container{
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1248px;
    margin: 0, auto;
}
header .nav-container .logo{
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
    cursor: pointer;
}
header .nav-container .logo img{
    width: 75px;
}
header .search{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}
header .search .search-container{
    width: 540px;
    height: 36px;
    background-color: #f1f3f6;
    border-radius: 2px;
    box-shadow: 0, 2, 4, 0 rgba(0, 0, 0, 23%);
    display: flex;
}
header .search .search-container .search-box{
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;
}
header .search .search-container .search-btn{
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

header .nav-container .login{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
}
header .nav-container .login .login-btn{
    height: 65%;
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}
header .nav-container .become-seller{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
header .nav-container .more{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font: 16px;
    font-weight: 5px;
    cursor: pointer;
}
header .nav-container .more svg{
    margin-left: 8px;
    rotate: -90deg;
    cursor: pointer;
}
header .nav-container .cart{
    height: 100%;
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
}
header .nav-container .cart svg{
    margin-right: 8px;
    cursor: pointer;
    color: white;
}
/* section-1 */
.section-1{
    width: 100%;
    height: 122PX;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 16%);
}
.section-1 .section-1-container{
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-1-item{
    color: black;
    height: 100%;
    display: flex;
    flex: content;
    justify-content: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
}
.section-1-item img{
    width: 64px;
    height: 64px;
}
/* Section 2 */
.section-2-container{
    margin-top: 10px;
    height: 280px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/0735712fe84c602d.jpg?q=50'
    );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Section 3 */
.section-3-container{
    margin-top: 8px;
    height: 122px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Section 4 */
.section-4-container{
    height: 100%;
    height: 362px;
    margin-top: 8px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.section-4-offers{
    width: 230px;
    height: 100%;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90');
    background-position: bottom;
    background-repeat: no-repeat;   
}

.section-4-view-all{
    margin-top: 132px;
    width: 100%;
    color: black;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-4-view-all button{
    margin-top: 24px;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0) / 20%;
    padding: 10px 20px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.section-4-list{
    height: 100%;
    width: calc(100% - 230px);
    display: flex;
    overflow-x: auto;
}

.section-4-list-item{
    width: 232px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.section-4-list .section-4-list-item img{
    max-width: 200px;
    max-height: 200px;

}

.section-4-item-head{
    margin-top: 16px;
    font-size: 14px;
    font-weight: 500;
}
.section-4-item-price{
    margin-top: 12px;
    font-size: 16px;
    color: #388e3c;
}
.section-4-item-explore{
    opacity: 0.6;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 300;
}
/* Section 5 */
.section-5-container{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.section-5-container img{
    width: 33%;
}
/* footer */
footer{
    margin-top: 23px;
    color: #878787;
    background-color: white;
    font-size: 14px;
    padding: 25px;
    text-align: center;

}
